@model Web.Models.EditProfileViewModel
@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Edit">
    @Html.AntiForgeryToken()

    <div asp-validation-summary="All"></div>

    <div id="username-div">
        <label asp-for="Username"></label>
        <input type="text" asp-for="Username" value="@Model.Username.ToLower()">
    </div>

    <div id="email-div">
        <label asp-for="Email"></label>
        <input type="email" asp-for="Email" value="@Model.Email.ToLower()">
    </div>

    <div id="description-div">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" rows="5" value="@Model.Description"></textarea>
    </div>

    <hr>

    <div class="password-div">
        <label asp-for="CurrentPassword"></label>
        <input type="password" asp-for="CurrentPassword" value="@Model.CurrentPassword">
    </div>

    <div class="password-div">
        <label asp-for="NewPassword"></label>
        <input type="password" asp-for="NewPassword" value="@Model.NewPassword">
    </div>

    <div>
        <button type="submit">Save changes</button>
    </div>
</form>

<a id="back" href="/profile/@Model.Username.ToLower()">Go back</a>